.main__container {
  position: relative;
  top: 65px;
  padding-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.image-link {
  display: block;
  width: 100%;

  transform: scale(1);
  transition: transform 250ms linear;
}

.image-link:hover,
.image-link:focus {
  transform: scale(1.03);
}

.photo-card {
  width: 100%;
  display: block;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.photo {
  width: 100%;
  height: 280px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: 100%;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgb(244, 247, 250);
}

.info-item {
  text-align: center;

  font-size: 14px;
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .image-link {
    flex-basis: calc((100% - 15px * (2 - 1)) / 2);
  }

  .photo {
    height: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .image-link {
    flex-basis: calc((100% - 15px * (4 - 1)) / 4);
  }

  .photo {
    height: 180px;
  }

  .info-item {
    font-size: 12px;
  }
}

/* ------ button ------- */

.load-more {
  margin: 30px auto 0;
  padding: 8px 20px;

  background-color: rgb(170, 205, 255);
  border: none;
  outline: transparent;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 16px;
  font-weight: 500;
  color: rgb(1, 20, 72);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(91, 156, 248);
  color: rgb(244, 247, 250);
}
