.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 55px;

  background-image: linear-gradient(
    rgba(30, 122, 251, 0.71),
    rgba(202, 224, 255, 0.721)
  );
  backdrop-filter: blur(15px);
}

.header__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form {
  display: flex;
  height: 35px;
  width: 260px;

  background-color: rgb(244, 247, 250);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.search-form input {
  width: 225px;
  padding: 8px;

  background-color: transparent;
  border: none;
  outline: transparent;

  font: inherit;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;

  background-color: rgb(170, 205, 255);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  outline: transparent;

  color: rgb(1, 20, 72);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(91, 156, 248);
  color: rgb(244, 247, 250);
}
